<!-- BEGIN HEADER TOP -->
<div class="page-header-top">
    <div class="container">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="/">
            <img src="https://roller.today/template/smart/image/logo2.png" alt="logo" class="logo-default" />
        </a>
    </div>
    <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler btn btn-sm green-haze btn-outline">MENU</a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <form name="form.searchForm" class="search-form">
                        <div class="input-group">
                            <input type="text" name="explorerSearch" class="form-control" placeholder="Search by Address / Txhash / BlockNum / BlockHash" ng-model="form.searchInput" ng-keyup="$event.keyCode == 13 ? searchQuery(form.searchInput) : null">
                            <span class="input-group-btn">
                                <a class="btn" ng-click="searchQuery(form.searchInput)">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                </li>


            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
</div>
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<style type="text/css">
  .page-header-menu, .page-header-top{
    background-color:#1b2c42; 
  }
</style>
<div class="page-header-menu">
    <div class="container">

        <!-- BEGIN MEGA MENU -->
        <div class="hor-menu hor-menu-light">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
               
                <li class="menu-dropdown mega-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">Stats
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                      <li>
                          <a href="/stats/hashrate">
                              <i class="fa fa-line-chart"></i>
                              <span class="title" data-toggle="tooltip" title="Hashrate chart">Hashrate Chart</span>
                          </a>
                      </li>
                      <li>
                          <a href="/stats/difficulty">
                              <i class="fa fa-line-chart"></i>
                              <span class="title" data-toggle="tooltip" title="Difficulty chart">Difficulty Chart</span>
                          </a>
                      </li>
                      <li>
                          <a href="/stats/blocktime">
                              <i class="fa fa-line-chart"></i>
                              <span class="title" data-toggle="tooltip" title="Blocktime chart">Blocktime Chart</span>
                          </a>
                      </li>
                      <li>
                          <a href="/stats/tx">
                              <i class="fa fa-line-chart"></i>
                              <span class="title" data-toggle="tooltip" title="Transaction chart">Transaction Chart</span>
                          </a>
                      </li>
                      <li>
                          <a href="/stats/miner_hashrate">
                              <i class="fa fa-line-chart"></i>
                              <span class="title" data-toggle="tooltip" title="Miner chart">Miner Distribution Chart</span>
                          </a>
                      </li>
                      <li>
                          <a href="/total" target="_blank">
                              <i class="fa fa-line-chart"></i>
                              <span class="title" data-toggle="tooltip" title="Total Supply">Total Supply API</span>
                          </a>
                      </li>
                      
                    </ul>
                </li>
                <li class="menu-dropdown classic-menu-dropdown ">
                   <a href="https://cms.roller.today" target="_blank">Web Wallet</a>
                </li>
                <li class="menu-dropdown classic-menu-dropdown ">
                   <a href="/accounts">Accounts</a>
                </li>
                <li class="menu-dropdown classic-menu-dropdown ">
                   <a href="/token">Tokens</a>
                </li>
               
                <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;"> Social
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                          <a href="https://roller.today" target="_blank">
                              <i class="fa fa-home"></i>
                              <span class="title" data-toggle="tooltip" title="Reddit Forum"> Roller Home</span>
                          </a>
                        </li>
                        <hr>
                        <li>
                            <a href="https://cms.roller.today" target="_blank">
                                <i class="fa fa-twitter"></i>
                                <span class="title" data-toggle="tooltip" title="Roller CMS"> CMS Appication</span>
                            </a>
                        </li>
                        
                        <li>
                            <a href="https://twitter.com/RollerPlatform" target="_blank">
                                <i class="fa fa-telegram"></i>
                                <span class="title" data-toggle="tooltip" title="Roller Telegram">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://t.me/vnminer" target="_blank">
                                <i class="fa fa-telegram"></i>
                                <span class="title" data-toggle="tooltip" title="Roller Telegram">Telegram</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://discord.gg/Y928qyU" target="_blank">
                                <i class="fa fa-commenting"></i>
                                <span class="title" data-toggle="tooltip" title="Community Chat">Discord</span>
                            </a>
                        </li>
                        <li>
                          <a href="https://www.facebook.com/groups/1071050689694143/" target="_blank">
                              <i class="fa fa-reddit"></i>
                              <span class="title" data-toggle="tooltip" title="Roller Facebook">Facebook</span>
                          </a>
                        </li>
                        <li>
                            <a href="https://bitcointalk.org/index.php?topic=4704996.new#new" target="_blank">
                                <i class="fa fa-btc"></i>
                                <span class="title" data-toggle="tooltip" title="Bitcointalk Announcement"> Bitcointalk ANN</span>
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="https://github.com/roller-project" target="_blank">
                                <i class="fa fa-github"></i>
                                <span class="title" data-toggle="tooltip" title="Github Development">Github Repo</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-dropdown classic-menu-dropdown "><a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;"> Pools
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left dropdown-menu-right">
                        <li>
                          <a href="http://pool.roller.today" target="_blank">
                              <i class="fa fa-group"></i>
                              <span class="title" data-toggle="tooltip" title="Community Chat"> Official Pool(2%)</span>
                          </a>
                        </li>
                        
                        <li>
                          <a href="https://roller.cryptopools.info/" target="_blank">
                              <i class="fa fa-group"></i>
                              <span class="title" data-toggle="tooltip" title="Community Chat">cryptopools</span>
                          </a>
                        </li>
                        <li>
                          <a href="https://comining.io/" target="_blank">
                              <i class="fa fa-group"></i>
                              <span class="title" data-toggle="tooltip" title="Community Chat">comining.io</span>
                          </a>
                        </li>
                        
                        <li>
                          <a href="http://rol.minerpool.cf/" target="_blank">
                              <i class="fa fa-group"></i>
                              <span class="title" data-toggle="tooltip" title="Community Chat"> Minerpool.cf</span>
                          </a>
                        </li>
                        
                        <li>
                          <a href="http://pool.claymore.ga" target="_blank">
                              <i class="fa fa-group"></i>
                              <span class="title" data-toggle="tooltip" title="Community Chat"> Claymore.ga</span>
                          </a>
                        </li>
                        
                        <li>
                          <a href="http://poolfun.ru" target="_blank">
                              <i class="fa fa-group"></i>
                              <span class="title" data-toggle="tooltip" title="Community Chat"> poolfun.ru</span>
                          </a>
                        </li>
                        
                        

                    </ul>
                </li>
            </ul>
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
<!-- END HEADER INNER -->
